n8n.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "6b4552fd-5393-4fb2-8a62-c5ef00198b37",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "id": "e107ac14-17c9-4767-98c0-e9a98a986ca7",
      "name": "RSS - TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        528,
        -32
      ]
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "id": "90ff9a8c-50fd-4682-85f6-b44944492a45",
      "name": "RSS - HackerNews",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        528,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "id": "f2a6129d-307d-45fd-b90a-83eef08421b3",
      "name": "RSS - The Verge",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        528,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "source_name",
              "value": "TechCrunch",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fb738fc2-321c-4042-8aa9-62563c412f7a",
      "name": "Tag Source - TechCrunch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2",
              "name": "source_name",
              "value": "HackerNews",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d9d5dfcb-4070-4d21-adb0-100122023097",
      "name": "Tag Source - HackerNews",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3",
              "name": "source_name",
              "value": "The Verge",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "989ec99c-4e6f-40ed-b8f2-9b56604a0dfe",
      "name": "Tag Source - The Verge",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        448
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "0fda0572-f8c0-4add-be49-c40d49303f8e",
      "name": "Merge All Articles",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        976,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "18c24c12-49b0-40bd-bc36-a96a6e6a9086",
      "name": "Filter Valid Articles",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1200,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "n1",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "n2",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "n3",
              "name": "author",
              "value": "={{ $json.creator || $json.author || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "n4",
              "name": "published_at",
              "value": "={{ $json.isoDate || $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "n5",
              "name": "content",
              "value": "={{ $json.contentSnippet || $json.content || '' }}",
              "type": "string"
            },
            {
              "id": "n6",
              "name": "source_name",
              "value": "={{ $json.source_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ede5d6e6-d0fb-4bc0-98f6-a780f5c41877",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO articles (title, url, source_name, author, published_at, content)\nVALUES ($1, $2, $3, $4, $5, $6)\nON CONFLICT (url) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [$json.title, $json.url, $json.source_name, $json.author, $json.published_at, $json.content] }}"
        }
      },
      "id": "9f3e6c3b-bc58-4529-bfd7-ec10525f1772",
      "name": "Insert Article",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1632,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "43uhnvbj7n8gbJAp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "8365c503-30d9-43fc-a683-05297f404e9f",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        640,
        784
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, source_name, content, url FROM articles WHERE processed = false AND title IS NOT NULL AND content IS NOT NULL AND LENGTH(content) > 100 ORDER BY created_at ASC LIMIT 10;",
        "options": {}
      },
      "id": "513d24d8-4191-41c9-b88b-bd2723b324b9",
      "name": "Fetch Unprocessed Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        864,
        784
      ],
      "credentials": {
        "postgres": {
          "id": "43uhnvbj7n8gbJAp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-results",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "252c097e-d6fc-45e8-aa9d-c31ff09f0039",
      "name": "Any Articles to Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        784
      ]
    },
    {
      "parameters": {},
      "id": "788fb7e6-3f72-44ff-a58b-a22d8c3751dc",
      "name": "Nothing to Do",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1312,
        944
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "bd2a1604-da3f-4b6a-8f4e-08e2de406ff8",
      "name": "Batch Articles (5 at a time)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1312,
        784
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nconst title = (item.title || '').trim();\nconst sourceName = item.source_name || 'Unknown';\nconst content = (item.content || '').substring(0, 1500).trim();\n\nconst systemPrompt =\n  'You are a tech news analyst. Return a JSON object with exactly these three fields: category, summary, importance_score. Respond ONLY with valid JSON.';\n\nconst userPrompt =\n  'Title: ' + title +\n  '\\nSource: ' + sourceName +\n  '\\n\\nContent:\\n' + content +\n  '\\n\\nAnalyze this article.';\n\nreturn {\n  json: {\n    _articleId: item.id,\n    messages: [\n      {\n        role: 'system',\n        content: systemPrompt\n      },\n      {\n        role: 'user',\n        content: userPrompt\n      }\n    ]\n  }\n};"
      },
      "id": "67b7cc89-579b-4e6c-89e2-ff8e9628bd36",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        784
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\nconst articleId = $node[\"Build AI Prompt\"].json._articleId;\n\nlet aiResult = {};\n\ntry {\n  const rawContent = item.choices?.[0]?.message?.content || '{}';\n  aiResult = JSON.parse(rawContent);\n} catch (e) {\n  aiResult = {\n    category: 'Other',\n    summary: '',\n    importance_score: 5\n  };\n}\n\nconst allowedCategories = [\n  'AI',\n  'Startups',\n  'Cybersecurity',\n  'Cloud',\n  'Software Engineering',\n  'Mobile',\n  'Data Science',\n  'Business Tech',\n  'Other'\n];\n\nconst category = allowedCategories.includes(aiResult.category)\n  ? aiResult.category\n  : 'Other';\n\nlet score = parseInt(aiResult.importance_score, 10);\n\nif (isNaN(score) || score < 1 || score > 10) {\n  score = 5;\n}\n\nreturn {\n  json: {\n    id: articleId,\n    category,\n    summary: aiResult.summary || '',\n    importance_score: score\n  }\n};"
      },
      "id": "f88cb7a6-de50-4b78-a0a5-e86b82af6639",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        784
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE articles\nSET\n  category = '{{ $json.category }}',\n  summary = '{{ $json.summary.replace(/'/g, \"''\") }}',\n  importance_score = {{ $json.importance_score }},\n  processed = true\nWHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "230a63ce-3663-4ab2-b508-4da71d69ec1e",
      "name": "Update Article in PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2192,
        784
      ],
      "credentials": {
        "postgres": {
          "id": "43uhnvbj7n8gbJAp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-more-batches",
              "leftValue": "={{ $node[\"Batch Articles (5 at a time)\"].context[\"noItemsLeft\"] }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87c18e38-53fa-4428-a5a2-64bd6088cc15",
      "name": "More Batches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.3-70b-versatile\",\n  temperature: 0,\n  max_tokens: 300,\n  messages: $json.messages\n}) }}",
        "options": {}
      },
      "id": "fe0686c5-d8dd-40bb-9114-13855c03a63f",
      "name": "AI — Analyze Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        784
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "feJUvqzgxGVsXTsE",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "RSS - TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - HackerNews",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - The Verge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - TechCrunch": {
      "main": [
        [
          {
            "node": "Tag Source - TechCrunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - HackerNews": {
      "main": [
        [
          {
            "node": "Tag Source - HackerNews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - The Verge": {
      "main": [
        [
          {
            "node": "Tag Source - The Verge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Source - TechCrunch": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Source - HackerNews": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tag Source - The Verge": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Articles": {
      "main": [
        [
          {
            "node": "Filter Valid Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Articles": {
      "main": [
        [
          {
            "node": "Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fields": {
      "main": [
        [
          {
            "node": "Insert Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unprocessed Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unprocessed Articles": {
      "main": [
        [
          {
            "node": "Any Articles to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Articles to Process?": {
      "main": [
        [
          {
            "node": "Batch Articles (5 at a time)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing to Do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Articles (5 at a time)": {
      "main": [
        [],
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "AI — Analyze Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Update Article in PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Article in PostgreSQL": {
      "main": [
        [
          {
            "node": "More Batches?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Batches?": {
      "main": [
        [
          {
            "node": "Batch Articles (5 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI — Analyze Article": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Batch Articles (5 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9423bfd7b38726089498fd149df5b3f737b3df7a3b0c5f5fe515932a16329cfa"
  }
}